<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">

	<title>To-Do list logic</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>

<body>
	{{!-- <img src="/assets/img/cute_burger.jpeg" width="400px" id="cute_burger"> --}}

	{{{ body }}}

	<footer class="pie">
		<div class="copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2019 Help I'm stuck in the matrix</span>
			</div>
		</div>
	</footer>
</body>
</html>